html {
  height: 100%;
  width: 100%;
}
body{
  background-color: darkgray;
}
h1{
  color: aliceblue;
  font-family: cursive;
}
button{
  background-color: dimgrey; 
  color: darkseagreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


